@import 'variable';
@import 'animation';
@media (prefers-color-scheme: dark) {
  :root {
    --app-container: #000;
    --app-content-container: rgba(40, 40, 40, 1);
    --main-color: #fff;
    --secondary-color: rgba(255, 255, 255, 0.8);
    --projects-section: #1f2937;
    --link-color: rgba(255, 255, 255, 0.8);
    --link-color-hover: rgba(195, 207, 244, 0.1);
    --link-color-active-bg: rgba(195, 207, 244, 0.2);
    --button-bg: #1f2937;
    --search-area-bg: #1f2937;
    --message-box-hover: #243244;
    --message-box-border: rgba(255, 255, 255, 0.1);
    --star: #ffd92c;
    --light-font: rgba(255, 255, 255, 0.8);
    --more-list-bg: #2f3142;
    --more-list-bg-hover: rgba(195, 207, 244, 0.1);
    --more-list-shadow: rgba(195, 207, 244, 0.1);
    --message-btn: rgba(195, 207, 244, 0.1);
    --active-color: #3512e0;
    --border-color: rgba(255, 255, 255, 0.1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --app-container: #f3f6fd;
    --app-content-container: rgba(243, 246, 253, 0.6);
    --main-color: #1f1c2e;
    --secondary-color: #4a4a4a;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --projects-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --star: #1ff1c2e;
    --message-btn: #fff;
    --active-color: #3512e0;
    --border-color: rgba(0, 0, 0, 0.1);
  }
}

.auth {
  &-content {
    height: calc(100vh - $bottomAppBarHeight);
    background: var(--app-content-container);
  }
}
.left-sidebar {
  width: $sidebarWidth;
  height: 100%;
  background-color: var(--app-container);
}
.right-sidebar {
  width: $sidebarWidth;
  height: 100%;
  background-color: var(--app-container);
}
.bottom-app-bar {
  height: $bottomAppBarHeight;
  width: 100%;
  background: var(--app-content-container);
  box-shadow: inset 0 -1px 0 0 var(--app-content-container);
  border-top: solid 1px var(--border-color);
}

body {
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
  overflow: hidden;
  background-color: var(--app-container);
  color: var(--main-color);
}

.volume-slider {
  width: 120px;
  -webkit-appearance: none;
  height: 5px;
  overflow-x: hidden;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 5px;
    box-shadow: -120px 0 0 120px #43e5f7;
  }
  &:hover {
    opacity: 1;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #04aa6d;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #04aa6d;
      cursor: pointer;
    }
  }
}

.song-slider {
  width: 100%;
  -webkit-appearance: none;
  height: 5px;
  overflow-x: hidden;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 5px;
    box-shadow: -1000px 0 0 1000px #43e5f7;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #43e5f7;
  }
  &:hover {
    opacity: 1;
    &::-webkit-slider-thumb {
      background: #04aa6d;
    }
    &::-moz-range-thumb {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #04aa6d;
      cursor: pointer;
    }
  }
}

.dot-active {
  background: var(--active-color);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin: auto;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
}
.resizer {
  height: 100%;
  width: 3px;
  background-color: var(--app-container);
  cursor: e-resize;
}
.sidebar-link {
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover,
  &.active {
    opacity: 1;
  }
}

.song-disk-container {
  .song-disk-action {
    transition: opacity 0.3s;
    opacity: 0;
  }
  &:hover {
    .song-disk-action {
      opacity: 1;
    }
  }
}
.song-row {
  &-status {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    &.active {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  img {
    transition: all 0.2s ease-in-out;
    &.active {
      -webkit-animation: rotating 8s linear infinite;
      -moz-animation: rotating 8s linear infinite;
      -ms-animation: rotating 8s linear infinite;
      -o-animation: rotating 8s linear infinite;
      animation: rotating 8s linear infinite;
      border-radius: 50%;
    }
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
    .song-row-status {
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 1;
    }
  }
}
